*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

h1{
    font-weight: bold;
    font-style: italic;
    color: #ff9e00;
    font-family: "JetBrains Mono";
    -webkit-text-stroke: 1.5px #ff6d00;
    padding: 30px;
}

.container{
    width: 100%;
    height: 100vh;
    background: linear-gradient(135deg, #3c096c, #9d4edd);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.calculator{
    background: #ff7900;
    padding: 20px;
    border-radius: 10px;
}

.calculator form input{
    border: 0;
    outline: 0;
    width: 60px;
    height: 60px;
    border-radius: 10px;
    box-shadow: -8px -8px 15px rgba(255, 255, 255, 0.1), 5px 5px 15px rgba(0, 0, 0, 0.2);
    background-color: transparent;
    font-size: 20px;
    color: #fff;
    cursor: pointer;
    margin: 10px;
}

form .display{
    display: flex;
    justify-content: flex-end;
    margin: 20px 0;
}

form .display input{
    text-align: right;
    flex: 1;
    padding-right: 10px;
    font-size: 45px;
}

form input.equal{
    width: 145px;
}

/* RESPONSIVE DESIGN */
@media (max-width: 468px) {
    h1{
        font-size: 26px;
    }

    .calculator{
        padding: 10px;
    }

    .calculator form input{
        width: 50px;
        height: 50px;
        font-size: 18px;
    }
}